#photos 
{
    height: 100%;
}

/* #photo_banner
{
    background-image: url("../images/photo_background.jpg");
    height: 30%;
} */

#photo_banner {
    background-image:   
      url("../photos/skyline2008/large/001.00.jpg");
  
    height: 50%; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#photo_text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 23vh;    
    text-align: center;
    color: white; 
    padding-top: 6%;
    margin-block-start: 0;
}

#photo_structure
{
    height: 70%;
    width: 100%;
}

#subject_selector
{
    width: 100%;
    height: 5%;
    margin: auto;
}

#subject_table
{
    width: 80%;
    margin: auto;
}

.subject_cell 
{
    text-align: center;
    width: 33%;
}

#trip_selector
{
    width: 100%;
    height: 5%;
    align-content: center;
}

#trip_table
{
    height: 30%;
    width: 80%;
    padding-right: 10%;
    margin: auto;
}

.trip_cell
{
    float: right;
    width: 33%
}

#gallery_container
{
    width: fill;
    height: fill;
    padding: 16px;
}